<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Opabid Farms</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- main css -->
    <link rel="stylesheet" href="~/Content/responsive.css" />

    <!-- Fonts -->
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="/Content/flaticon.css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header class="header_area">
        <div class="main_menu">
            <div class="container">
                <div class="navbar sticky-top navbar-expand-lg navbar-light">
                    <div class="container">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <a class="navbar-brand" href=""><img src="~/img/logo.png" alt=""></a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Home/About">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container body-content" style="margin: 0; padding: 0; max-width: inherit;">
        @RenderBody()
        <footer>
            <div class="footer-area">
                <div class="container">
                    <div class="row section_gap">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single-footer-widget tp_widgets">
                                <h4 class="footer_title large_title">Our Mission</h4>
                                <p style="margin-bottom:25px;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis praesentium nisi aspernatur animi perferendis.
                                </p>

                                <h4 class="footer_title large_title">Our Vision</h4>
                                <p>
                                    Dolore sint exercitationem molestiae saepe doloribus assumenda ea minus quidem culpa? Maiores at ducimus laborum corporis.
                                </p>
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                            <div class="single-footer-widget tp_widgets">
                                <h4 class="footer_title">Quick Links</h4>
                                <ul class="list">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="single-footer-widget instafeed">
                                <h4 class="footer_title">
                                    Gallery
                                </h4>
                                <img class="" src="~/img/gallery/g1.jpg" alt="Card image cap">
                                <img class="" src="~/img/gallery/g2.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                            <div class="single-footer-widget tp_widgets">
                                <h4 class="footer_title">Contact Us</h4>
                                <div class="ml-40">
                                    <p class="sm-head">
                                        <span class="fa fa-location-arrow"></span>
                                        Head Office
                                    </p>
                                    <p>123, Main Street, Your City</p>

                                    <p class="sm-head">
                                        <span class="fa fa-phone"></span>
                                        Phone Number
                                    </p>
                                    <p>
                                        +123 456 7890 <br>
                                        +123 456 7890
                                    </p>

                                    <p class="sm-head">
                                        <span class="fa fa-envelope"></span>
                                        Email
                                    </p>
                                    <p>
                                        free@infoexample.com <br>
                                        www.infoexample.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row d-flex">
                        <p class="col-lg-12 footer-text text-center">
                            Copyright &COPY;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved. <br />
                            Opabid Farms Limited
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Optional JavaScript -->
    <script src="/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/Scripts/site.js"></script>
<script src="/Scripts/stellar.js"></script>
<script src="/Scripts/jquery.ajaxchimp.min.js"></script>
<script src="/Scripts/popper.js"></script>


</body>
</html>
